* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid black;
  position: relative;
}

.menu-icon {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #2F855A;
}

.logo {
  all: unset; 
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2F855A;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-box {
  background-color: #d1e7c8;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 4px;
  line-height: 1.2;
}

.profile-icon {
  font-size: 1.8rem;
}

.carousel {
  position: relative;
  width: 600px;
  height: 400px;
}

footer {
  border-top: 2px solid black;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: #000;
}

#nav {
  width: 230px;
  height: 100vh;
  background-color: #f6fff1;
  color: black;
  position: fixed;
  top: 109px;
  left: -230px;
  transition: left 0.3s ease;
  padding-top: 3em;
  padding-left: 2em;
  z-index: 1000;
  font-size: 24px;

  }
#nav li{
  margin-bottom: 2em;
} 

#nav.show {
  left: 0;
}

#menuBtn {
  font-size: 24px;
  cursor: pointer;
  margin: 1em;
}

.nav-link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.nav-link:hover {
  background-color: #eee;
}

.filter {
  margin: 20px;
  padding: 10px;
  background-color: #d1e7c8;
  border-radius: 5px;
  text-align: center;
}

#regionSelect {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #2F855A;
  border-radius: 4px;
}

.university-list ul {
  list-style: none;
}

.university-list li {
  font-size: 1.2rem;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.university-list li:last-child {
  border-bottom: none;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #d1e7c8;
    border: 1px solid #2F855A;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.pagination button.active {
    background-color: #2F855A;
    color: white;
    font-weight: bold;
}