* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid black;
  position: relative;
}

.menu-icon {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #2F855A;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2F855A;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-box {
  background-color: #d1e7c8;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 4px;
  line-height: 1.2;
}

.profile-icon {
  font-size: 1.8rem;
}


footer {
  border-top: 2px solid black;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: #000;
}

#nav {
  width: 230px;
  height: 100vh;
  background-color: #f6fff1;
  color: black;
  position: fixed;
  top: 109px;
  left: -230px;
  transition: left 0.3s ease;
  padding-top: 3em;
  padding-left: 2em;
  z-index: 1000;
  font-size: 24px;

  }
#nav li{
  margin-bottom: 2em;
} 

#nav.show {
  left: 0;
}

#menuBtn {
  font-size: 24px;
  cursor: pointer;
  margin: 1em;
}

.nav-link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.nav-link:hover {
  background-color: #eee;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}
#calendar {
  max-width: 800px;
  margin: 0 auto;
}

.fc {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#schedule-list {
  flex: 0.5;
  background-color: #e6ffe6;
  border: 2px solid #66cc66;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  max-height: 700px;
  overflow-y: auto;
}

#events li {
  margin-bottom: 10px;
  padding: 8px;
  background: #ffffff;
  border-left: 4px solid #66cc66;
  font-size: 16px;
}
